version: 2
updates:
  - package-ecosystem: cargo
    directory: /
    schedule:
      interval: weekly
    cooldown: # applies only to non-security updates
      semver-patch: 3 # wait 3 days before applying patch updates
      semver-minor: 7
      semver-major: 14
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
